<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BuyOrders</title>
</head>
<body>
<h1>BuyOrder List</h1>
<table>
    <tr>
        <th>ID</th>
        <th>codigo</th>
        <th>Tipo orden</th>
        <th>Incidentes</th>
    </tr>
    <tr th:each="buyorder:${buyorders}">
        <td th:text="${buyorder.id}">123</td>
        <td th:text="${buyorder.getCode()}">codigo</td>
        <td th:text="${buyorder.getName()}">el nombre</td>
        <td>
            <table>
                <tr th:each="incident:${buyorder.getIncidents()}">
                    <td th:text="${incident.id}">123</td>
                    <td th:text="${incident.getCode()}">codiguito</td>
                </tr>
            </table>
        </td>
    </tr>
</table>

</body>
</html>